<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Input Column -->
    <ng-container matColumnDef="input">
      <th mat-header-cell *matHeaderCellDef> Scenario </th>
      <td mat-cell *matCellDef="let element"> {{element.input}}: </td>
    </ng-container>
    <!-- Connection Result Column -->
    <ng-container matColumnDef="connection">
      <th mat-header-cell *matHeaderCellDef> Shortest Link </th>
      <td mat-cell *matCellDef="let element"> {{element.connection}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div>Logs: </div>
<div *ngFor="let result of outputs">{{result.input}}:  {{result.connection}}</div>
